<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ReverseProxyToAPI" stopProcessing="true">
                    <match url="demo/(.*)" />
                    <action type="Rewrite" url="https://wh3d7769365c8ee24de8.free.beeceptor.com/" />
                </rule>
            </rules>
            <outboundRules>
                <rule name="AdjustResponseHeaders" preCondition="IsHTML">
                    <match serverVariable="RESPONSE_CONTENT_TYPE" pattern=".*" />
                    <action type="Rewrite" value="text/html; charset=utf-8" />
                </rule>
                <preConditions>
                    <preCondition name="IsHTML">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>